.LoaderBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000a2;
}

.LoaderImg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.LoaderImg p {
  color: rgb(170, 170, 170);
  font-size: 26px;
  font-weight: 700px;
  text-transform: capitalize;
}
